[receive]
	requireChangeId = true
[access "refs/*"]
	create = group chef-manager-core
[access "refs/heads/*"]
	abandon = group chef-manager-core
	labelAs-Code-Review = -2..+2 group chef-manager-core
	labelAs-Workflow = -1..+1 group chef-manager-core
[access "refs/heads/stable/*"]
	exclusiveGroupPermissions = abandon labelAs-Code-Review labelAs-Workflow
	abandon = group chef-manager-core
	labelAs-Code-Review = -2..+2 group chef-manager-core
	labelAs-Workflow = -1..+1 group chef-manager-core
